.more {
    position: relative;

    .gradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.26+0,0.78+43,0.94+59,1+69,1+100 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0.26) 0%, rgba(255,255,255,0.78) 43%, rgba(255,255,255,0.94) 59%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.26) 0%,rgba(255,255,255,0.78) 43%,rgba(255,255,255,0.94) 59%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0.26) 0%,rgba(255,255,255,0.78) 43%,rgba(255,255,255,0.94) 59%,rgba(255,255,255,1) 69%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        position: absolute;
        bottom: 6px;
        left: 0;
        right: 0;
        z-index: 1;
        display: none;
    }

    .content {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        text-align: center;

        button {
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 0;
            padding: 15px 25px;
            @include border-radius(4px);
        }
    }

    &.show {
        padding-bottom: 6px;
        margin-bottom: 35px; 
        
        .inner-content {
            max-height: 364px;
            overflow: hidden;
        }

        .gradient,
        .content {
            display: block;
        }
    }
}