.pagination-wrapper {

    .pagination {
        margin-top: 0;
        
        /deep/ {
            .list-item {
                padding-left: 0;
                padding-right: 0;

                a {
                    padding-left: 7px;
                    padding-right: 7px;
                    background-color: #f4f8f9;
                    color: #d2d4d7;
                    text-decoration: none;

                    &:not(.dot) {
                        padding-top: 2px;
                        padding-bottom: 2px;
                        border: 1px solid #ddd;

                        &:hover {
                            cursor: pointer;
                            background-color: #fff;
                            border: 1px solid #ddd;
                            color: #5a99ef;
                        }
                    }

                    &.dot {
                        padding-top: 6px;
                    }
                }

                &.active a {
                    background-color: #fff;
                    border: 1px solid #ddd;
                    color: #5a99ef;
                }
            }
        }
    }
}