.review {
    padding-left: 25px;

    .img-container {
        height: 52px;

        img {
            width: auto;
            max-height: 100%;
        }
    }

    .info {
        font-size: 15px;
        font-weight: 600;
        color: $tertiary;
        margin-top: 2px;

        a {
            color: inherit;
        }
    }

    @media (max-width: 767px) {
        .info {
            font-size: 13px;
            margin-top: 0;

        }        
    }

    @media (max-width: 480px) {
        .info {
            font-size: 12px;
        }        
    }
}